.u-section-1 .u-sheet-1 {
  min-height: 853px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 4px 207px 0 254px;
}

.u-section-1 .u-video-1 {
  height: 740px;
  width: 1102px;
  margin: 28px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 107px;
    margin-left: 154px;
  }

  .u-section-1 .u-video-1 {
    height: 631px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-1 .u-video-1 {
    height: 483px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    height: 362px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-video-1 {
    height: 228px;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1103px;
}

.u-section-2 .u-shape-1 {
  height: 282px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -204px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 418px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 20px;
}

.u-section-2 .u-icon-1 {
  height: 103px;
  width: 103px;
  background-image: none;
  margin: 0 auto 0 60px;
  padding: 25px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 20px;
}

.u-section-2 .u-icon-2 {
  height: 103px;
  width: 103px;
  background-image: none;
  margin: 0 auto 0 60px;
  padding: 25px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 23px 20px;
}

.u-section-2 .u-icon-3 {
  height: 103px;
  width: 103px;
  background-image: none;
  margin: 0 auto 0 60px;
  padding: 25px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 23px 20px;
}

.u-section-2 .u-icon-4 {
  height: 103px;
  width: 103px;
  background-image: none;
  margin: 0 auto 0 60px;
  padding: 25px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 3px 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 106px auto 0 calc(((100% - 1140px) / 2) + -12px);
}

.u-section-2 .u-layout-cell-1 {
  min-height: 673px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 22px;
}

.u-section-2 .u-image-1 {
  width: 414px;
  height: 414px;
  background-image: url("images/circl-banner.jpg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 673px;
}

.u-section-2 .u-container-layout-6 {
  padding: 21px 0;
}

.u-section-2 .u-shape-2 {
  width: 111px;
  height: 110px;
  background-image: none;
  margin: 73px -17px 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  line-height: 1;
  background-image: none;
  font-size: 2.25rem;
  margin: 4px 172px 0 124px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 12px 30px 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  margin: 12px 18px 0 30px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 30px auto 0;
  padding: 14px 217px 15px 216px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 985px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 344px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-2 .u-image-1 {
    width: 363px;
    height: 363px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 115px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 855px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 774px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-2 .u-image-1 {
    width: 268px;
    height: 268px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 53px;
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1266px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 795px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 736px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 993px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 92px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 92px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 92px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 13px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 92px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 13px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }
}